@font-face {
	font-family: att;
	src: url("./AtHaussStd-Medium.05084bc.ttf");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	
}
#page1{
	width: 100%;
	height: 100vh;
	background-color:#fbf9f6;
}
#nav{
	display: flex;
	/* position: fixed; */
	align-items: center;
	justify-content: space-between;
	padding: 0px 40px;
	/* position: fixed; */
}
#nav-part1{
	display: flex;
	align-items: center;
	gap: 170px;
}
#nav-part1 h1{
	font-family: att;
	text-transform: uppercase;
	font-size: 2vw;
}
#nav-part2{
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}i{
	background-color: #000;
	color: #fff;
	text-align: center;
	position: fixed;
	padding-top: 10px;
	right: 4%;
	width: 40px;
	height: 40px;
}

a{
	text-decoration: none;
	font-family: att;
	color: #000;
	font-weight: 100;
	
}
#page2{
	width: 100%;
	/* position: relative; */
	height: 100vh;
	background-color: #fcfbf8;
}
#mid{
	text-align: center;
	margin-top: 100px;
	position: fixed;
	margin-left: 120px;
	
}
#mid h1{
	font-size: 4.3vw;
	font-family: att;
	font-weight: 100;
}
#mid h1:nth-child(1){
	/* padding-left: -120px; */
	margin-left: 14vw;
	/* color: aqua; */
}
#vs svg{
	width: 50px;
	position: absolute;
	display: none;
	/* margin-top: 30px; */
	margin-top: -30px;
	/* display: none; */
	position: fixed;
}
#vs{

	
}
video{
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: -10vw;
}
 svg{
	width: 40px;
}
#nav1{
	/* display: flex; */
}
#page3{
	width: 100%;
	height: 100%;
	background-color: #fbf9f7;
}
#page3 h1{
	font-size: 4.3vw;
	font-family: att;
	text-align: center;
	font-weight: 100;
}
#page2 h1{
	font-family: att;
	font-size: 2.5vw;
	padding-left: 7.1vw;
	width: 80%;
	border-left: 20px;
	/* border-bottom: 1px solid #000; */
	font-weight: 100;


}
#car{
	display: flex;
}
#fg{
	margin-left: -53vw;
	/* background-color: red; */
	overflow: hidden;
	margin-top: 5px;
	height: 40px;
	font-family: att;
}
#fg h2{
	font-size: 2.35vw;
	display: none;
	animation-name: d;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}
#fg h1{
	font-size: 2.35vw;
	margin-left: -60px;
}
@keyframes d {
	0%{
		display: none;
	}
	100%{
		display: initial;
	}
	
}